.carousel {
    .carousel-item {
        transition-timing-function: ease-out;
    }

    &.carousel-fade {
        .carousel-item {
            opacity: 0;
            transition-property: opacity;

            &.active {
                opacity: 1;
                &.left, &.right {
                    left: 0;
                    z-index: 1;
                    opacity: 0;
                }
            }
        }
        .next.left,
        .prev.right {
            opacity: 1;
        }
    }

    &.slide {
        .carousel-item {
            display: block;
            position: absolute;
            visibility: hidden;

            &.active {
                visibility: visible;
                position: relative;
            }

            &.prev,
            &.next {
                visibility: visible;
                position: absolute;
            }

        }
    }
}
