// Set wich breakpoints object to use
$breakpoints: $grid-breakpoints;


/*nice transitions for links*/
a{
    @include transition(color .2s ease-out, background .2s ease-out);
}

// headings
h1, h2 {
    font-family: $font-family-serif;
}
h1 { font-size: 1.75rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.375rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.125rem; }
h6 { font-size: 1rem; }

@include media (">=md") {
    h1 { font-size: 2.5rem; }
    h2 { font-size: 2.25rem; }
    h3 { font-size: 2rem; }
    h4 { font-size: 1.75rem; }
    h5 { font-size: 1.5rem; }
    h6 { font-size: 1.25rem; }
}

@include media (">=xl") {
    h1 { font-size: 2.875rem; }
    h2 { font-size: 2.625rem; }
    h3 { font-size: 2.375rem; }
    h4 { font-size: 2.125rem; }
    h5 { font-size: 1.875rem; }
    h6 { font-size: 1.625rem; }
}

// buttons
.btn {
    @include box-shadow(none);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

// lead text
.lead {
    color: $lead-color;
    font-family: $lead-font-family;
}

// jQuery svg click fix
svg { pointer-events: none; }

// hentry space
.hentry {
    padding-top: $spacer*3;
    padding-bottom: $spacer*3;
}

// svg icons
.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
