// Set wich breakpoints object to use
$breakpoints: $grid-breakpoints;


/*nice transitions for links*/
a{
    @include transition(color .2s ease-in-out, background .2s ease-in-out);
}

.lead {
    color: $lead-color;
    font-family: $lead-font-family;
}

// jQuery svg click fix
svg { pointer-events: none; }

// hentry space
.hentry {
    padding-top: $spacer*3;
    padding-bottom: $spacer*3;
}

// svg icons
.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
