.content-info {
    background-color: darken($gray-dark, 7%);
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;

    .info {
        padding-top: $spacer;
        padding-bottom: $spacer;
        font-weight: 300;
        padding-left: $grid-gutter-width;
        padding-right: $grid-gutter-width;

        @include media ("<md") {
            text-align: center;
        }

        @include media (">=sm") {
            padding-left: $grid-gutter-width/2;
            padding-right: $grid-gutter-width/2;
        }

        &,
        a {
            color: #fff;
        }

        p {
            margin-bottom: 0;
        }

        ul{
            @include list-unstyled();
            margin-bottom: 0;

            li {
                @include media (">=lg") {
                    display: inline-block;

                    &:not(:last-child) {
                         margin-right: 5px;
                    }

                    &:not(:last-child) {
                        margin-right: 0;
                    }

                    & + li:before {
                         content: "|";
                         display: inline-block;
                         margin: 0 $font-size-base;
                    }
                }
            }
        }
    }

    .newsletter {
        padding-top: $spacer;
        padding-bottom: $spacer;
        position: relative;
        max-width: 300px;
        margin: 0 auto;

        @include media ("<sm") {
            padding-left: $grid-gutter-width;
            padding-right: $grid-gutter-width;
        }

        .gform_fields,
        .gfield{
            margin: 0;
            padding: 0;
        }
        .gform_fields {
            @include list-unstyled();
        }
        form {
            display: flex;
            flex-direction: row;

            .gform_body{
                flex: 5;
                min-height: 1px;
            }
            .gform_footer{
                flex: 1;
                margin-top: 0;
            }
        }
        .hidelabel label,
        .validation_error, 
        .validation_message {
             display: none;
        }

        input[type="email"] {
             width: 100%;
             padding-left: $spacer;
             padding-right: $spacer;
             background-color: $gray-dark;
             color: #fff;
             font-style: italic;
             border-radius: 0;
        }

        .gfield_error input[type="email"] {
            background-color: transparentize($brand-danger, 0.5);
        }

        input[type="submit"] {
            width: 100%;
            background-color: $gray;
            font-family: "FontAwesome";
            font-size: 2*$font-size-base;
            color: darken($gray-dark, 7%);

            &:active {
                color: darken($gray-dark, 7%);
            }

            @include hover-focus {
                 background-color: #fff;
            }
        }

        input[type="submit"],
        input[type="email"] {
            border-radius: 0;
            border: 0 none;
            padding-top: 0;
            padding-bottom: 0;
            line-height: $line-height*2rem;
            height: $line-height*2rem;
        }

        .gform_ajax_spinner {
             display: block;
             position: absolute;
             left: 100%;
             top: 50%;
             transform: translate3d(0, -50%, 0);
             margin-left: 3px;
             background-color: #fff;
             border-radius: 50%;
             padding: 2px;
        }
    }

    .socials {
        text-align: center;
        white-space: nowrap;
        margin-bottom: 0;

        padding-top: $spacer;
        padding-bottom: $spacer;

        @include media ("<sm") {
            padding-left: $grid-gutter-width;
            padding-right: $grid-gutter-width;
        }

        a {
            color: darken($gray-dark, 7%);
            display: inline-block;
            width: $font-size-base * 2;
            height: $font-size-base * 2;
            background-color: $gray-light;
            font-size: $font-size-base;
            line-height: 2;
            border-radius: 50%;
            margin: $spacer*0.375;

            @include hover-focus {
                background-color: #fff;
            }
        }
    }
}
