$icon-play: svg-inline('<svg x="0" y="0" viewBox="0 0 163.861 163.861"><style>path{fill:white;}</style><path d="M34.857,3.613C20.084-4.861,8.107,2.081,8.107,19.106v125.637c0,17.042,11.977,23.975,26.75,15.509L144.67,97.275 c14.778-8.477,14.778-22.211,0-30.686L34.857,3.613z"/></svg>');

.section {
    @include padding-box($grid-gutter-width*1.5, 0);
    position: relative;

    .scroll-btn {
      width: 73px;
      height: 73px;
      @include border-radius(50%);
      @include box-shadow(0 4px 0 rgba(0,0,0,.05));
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: 100%;
      left: 50%;
      z-index: 1;

      transform: translate3d(-50%,-70%,0);

      .icon {
        opacity: .5;
      }
    }

    &:last-child {
      .scroll-btn {
        display: none;
      }
    }
}

.section-title {
    text-align: center;
}

.video-wrapper {
    display: block;
    height: 0;
    overflow: hidden;
    position: relative;
    border: 1px solid $gray-light;
    @include box-shadow(5px 5px 5px transparentize($gray-light, 0.4));

    a {
        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%,-50%,0);
        }

        &:before {
            background-color: #000;
            opacity: .8;
            width: 100px;
            height: 100px;
            @include border-radius(50%);
            @include transition(background .2s ease-out);
        }

        &:after {
            width: 40px;
            height: 40px;
            margin-left: 4px;
            background: url($icon-play) no-repeat 50%;
        }

        @include hover-focus {
            &:before {
                 background-color: $brand-primary;
            }
        }
    }

    img,
    iframe {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 0 none;
    }
}

.goals-wrapper {
    @include list-unstyled();
    font-size: $font-size-base*1.0625;

    li {
        background-color: #fff;
        border: 2px solid $gray-light;
        @include border-radius($border-radius-lg);
        @include padding-box($spacer, $grid-gutter-width/2);
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: $spacer;
        }

        .thumb-wrapper {
            flex: 1;
            min-width: 80px;
            text-align: center;
        }

        img {
             margin-right: $spacer;
        }

        p {
            flex: 10;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.price-wrapper {
    background-color: #fff;
    max-width: 474px;
    margin: 0 auto;
    @include border-radius($spacer/2);
    overflow: hidden;

    .price {
        background-color: $gray-lightest;
        @include padding-box($spacer/2, $grid-gutter-width);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .title {
            font-family: $font-family-serif;
            font-size: $font-size-base*1.5;
            margin-right: $spacer;
            margin-bottom: 0;
            flex: 1;

            @include media (">=md") {
                font-size: $font-size-base*2.625;
            }
        }

        .amount {
            font-size: $font-size-base*2.625;
            color: $brand-primary;
            font-weight: 600;
            white-space: nowrap;

            @include media (">=md") {
                font-size: $font-size-base*3.75;
            }
        }

        .addon {
            font-size: $font-size-base*1.5;
            color: $brand-primary;
            font-weight: 600;
            margin-left: $spacer/4;

            @include media (">=md") {
                font-size: $font-size-base*2.125;
            }
        }
    }

    .content {
        @include padding-box($spacer, $grid-gutter-width);
        font-size: $font-size-base*1.1875;

        p{
            strong:first-child {
                 font-size: $font-size-base*1.5;
            }
        }

        ul {
            padding-left: $spacer;
            margin-bottom: $spacer*2;

            li:not(:last-child) {
                margin-bottom: $spacer/8;
            }
        }

        .btn {
             width: 300px;
             max-width: 100%;
             @include button-size($spacer, $grid-gutter-width/2, $font-size-lg, $line-height, $btn-border-radius);
        }
    }
}


.portfolio-wrapper {
    position: relative;
    margin-left: -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;

    @include media (">=sm") {
        padding-left: $grid-gutter-width*2;
        padding-right: $grid-gutter-width*2;
    }

    @include media (">=md") {
        padding-left: $grid-gutter-width*2.5;
        padding-right: $grid-gutter-width*2.5;
    }

    .icon {
        width: $grid-gutter-width*2;
        height: $grid-gutter-width*2;
        fill: darken($gray-light, 2%);
    }

    .jcarousel-control-prev,
    .jcarousel-control-next {
        background-color: transparent;
        border: 0 none;
        padding: 0;
        position: absolute;

        top: auto;
        bottom: 0;
        height: $grid-gutter-width*2;

        @include media (">=sm") {
            top: 35%;
            bottom: auto;
            transform: translate3d(0,-50%,0);
            height: auto;
        }

        .icon {
            @include transition(fill .2s ease-out);
        }

        @include hover-focus {
            .icon {
                fill: $brand-primary;
            }
        }
    }

    .jcarousel-control-prev {
        left: 0;
    }

    .jcarousel-control-next {
        right: 0;
    }

    .thumb-wrapper {
         margin-left: $grid-gutter-width/2;
         margin-right: $grid-gutter-width/2;
         border: 2px solid $gray-lightest;
         padding: $spacer/2;

        a{
            display: block;
            position: relative;
            overflow: hidden;
            height: 0;
            padding-bottom: 60%;

            &:before,
            &:after {
                content: "";
                display: block;
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%,-50%,0);
            }

            &:before {
                width: 100%;
                height: 100%;
                opacity: 0;
                background-color: $brand-primary;
                @include transition(opacity .2s ease-out);
            }

            &:after {
                width: 50px;
                height: 50px;
                background: url($icon-play) no-repeat 60% 50%;
                background-size: 40% 40%;

                padding: 15px;
                background-color: rgba(0,0,0,.8);
                @include border-radius(50%);
                @include transition(background .2s ease-out);
            }

            @include hover-focus {

                &:before {
                     opacity: .3;
                }

                &:after {
                     background-color: $brand-primary;
                }
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    .title {
        margin-left: $grid-gutter-width*2;
        margin-right: $grid-gutter-width*2;
        font-family: $font-family-sans-serif;
        text-align: center;
        margin-bottom: 0;
        font-size: $font-size-base*1.125;
        padding-top: $spacer*2;
        padding-bottom: $spacer*1.5;

        @include media (">=sm") {
            margin-left: $grid-gutter-width/2;
            margin-right: $grid-gutter-width/2;
        }
    }

}

.testimonials-wrapper {

    @include media (">=md") {
        padding-left: $grid-gutter-width*3;
        padding-right: $grid-gutter-width*3;
    }

    .carousel-inner {
        @include list-unstyled();
        margin-bottom: 0;
    }


    .quote {
        margin-bottom: 0;

        p {
            font-size: $font-size-base*1.0625;
            color: #fff;
            line-height: 1.47;
            text-align: center;
            margin-bottom: $spacer*2;
        }

    }

    .author {

        @include media ("<md") {
            padding-left: $grid-gutter-width*2;
            padding-right: $grid-gutter-width*2;
        }

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .thumb {
        width: 45px;
        height: 45px;
        margin-right: $spacer;
        @include border-radius(50%);

        @include media (">=md") {
            width: 60px;
            height: 60px;
        }
    }

    .name,
    .position {
        font-size: $font-size-base*1.0625;
        display: block;
    }

    .name {
        font-size: $font-size-base*1.1875;
        font-weight: 600;
    }


    .carousel-control {
         background: none;
         width: $grid-gutter-width*2;
         height: $grid-gutter-width*2;
         top: auto;

         @include media (">=md") {
             width: $grid-gutter-width*3;
             top: 12%;
             bottom: auto;
         }

         .icon {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate3d(-50%,-50%,0);
              text-align: center;
              fill: #fff;

         }
    }

}

.text-wrapper {
    font-size: $font-size-base*1.125;

    p {
        strong:first-child {
            font-size: $font-size-base*1.3125;
        }
    }
}

.ordering-wrapper {
    @include list-unstyled();
    margin-bottom: 0;
    padding-top: $spacer;
    padding-bottom: $spacer;
    font-family: $font-family-serif;
    list-style-position: inside;
    counter-reset: item;
    font-size: $font-size-base*1.125;

    li {
        background-color: #fff;
        border: 2px solid $gray-light;
        padding: $spacer $grid-gutter-width/2 $spacer $grid-gutter-width*1.5;
        position: relative;
        @include border-radius($border-radius);

        &:not(:last-child) {
            margin-bottom: $spacer/2;
        }

        @include media (">=md") {
            padding: $spacer $grid-gutter-width $spacer $grid-gutter-width*3;

            &:not(:last-child) {
                margin-bottom: $spacer;
            }
        }

        &:before {
            content: counter(item)".";
            counter-increment: item;
            display: inline-block;
            float: left;
            width: $grid-gutter-width;
            margin-left: -$grid-gutter-width;
            margin-top: $spacer/4;

            @include media (">=md") {
                margin-left: -$grid-gutter-width*2;
                font-size: $font-size-base*1.6;
            }
        }

        .icon {
            display: none;
        }

        @include media (">=md") {
            .icon {
                content: "";
                display: block;
                position: absolute;
                width: auto;
                height: auto;
                max-width: 70px;
                max-height: 85px;
                fill: $brand-primary;
            }

            &:nth-child(7n+1) {
                margin-left: $grid-gutter-width*1.5;
                margin-right: $grid-gutter-width*1.6;

                .icon {
                    right: 100%;
                    top: 70%;
                    transform: translate3d(18px,0,0);
                }
            }

            &:nth-child(7n+2) {
                margin-left: $grid-gutter-width*2.93;
                margin-right: $grid-gutter-width*5;

                .icon {
                    left: 100%;
                    top: 25%;
                    transform: translate3d(2px,0,0);
                }
            }

            &:nth-child(7n+3) {
                margin-left: $grid-gutter-width*1.66;
                margin-right: $grid-gutter-width*1.33;

                .icon {
                    right: 100%;
                    top: 40%;
                    transform: translate3d(11px,0,0);
                }
            }

            &:nth-child(7n+4) {

                .icon {
                    right: 0;
                    top: 100%;
                    transform: translate3d(-3px,-5px,0);
                }
            }

            &:nth-child(7n+5) {
                margin-left: $grid-gutter-width*1.5;
                margin-right: $grid-gutter-width*2.76;

                .icon {
                    right: 100%;
                    top: 75%;
                    transform: translate3d(39px,0,0);
                }
            }

            &:nth-child(7n+6) {
                margin-left: $grid-gutter-width*3.1;
                margin-right: $grid-gutter-width*1.66;

                .icon {
                    left: 100%;
                    top: 35%;
                    transform: translate3d(-3px,0,0);
                }
            }

            &:nth-child(7n+7) {
                margin-left: $grid-gutter-width*2.1;

                .icon {
                    right: 0;
                    top: 100%;
                    transform: translate3d(7px,0,0);
                }
            }

            &:last-child {
                .icon {
                    display: none;
                }
            }
        }
    }

    .title,
    .description {
        font-family: $font-family-sans-serif;
    }

    .title{
        font-size: $font-size-base*1.3125;
        font-weight: 700;
        margin-bottom: $spacer/1.5;

        @include media (">=md") {
             margin-top: $spacer/4;
        }
    }
}

.contact-wrapper {
    font-size: $font-size-base*1.1875;
    @include make-row(0);
    justify-content: space-between;
    padding-top: $spacer*1.5;

    .column {
        @include make-col(0);
        @include make-col-span(12);

        @include media (">=md") {
            &:nth-child(1) {
                @include make-col-span(5);
            }
            &:nth-child(2) {
                @include make-col-span(5);
            }
        }

        @include media (">=lg") {
            &:nth-child(1) {
                @include make-col-span(4);
            }
        }

        @include media ("<md") {
             &:not(:last-child) {
                  margin-bottom: $spacer*2.5;
             }
        }

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    a {
        color: inherit;

        @include hover-focus {
            color: $brand-primary;
            text-decoration: none;
        }
    }

    .logo {
        @extend .hidden-sm-down;
        display: block;

        img {
             max-width: 100%;
        }
    }

    .contacts {
         @include list-unstyled();

         @include media ("<md") {
             margin-bottom: $spacer*2.5;
         }

         li {
             &:not(:last-child) {
                 margin-bottom: $spacer*1.5;
             }
         }

         .icon {
              fill: $brand-primary;
              margin-right: $spacer/2;
         }
    }

    .socials {
         @include list-unstyled();
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;

         li {
             @include make-col(0);
         }

         .icon {
             width: auto;
             height: auto;
             max-width: 45px;
             max-height: 40px;
             fill: $gray;
             @include transition(fill .2s ease-out);
         }

         a {
             @include hover-focus {
                 .icon {
                     fill: $brand-primary;
                 }
             }
         }
    }

    .gform_title {
         text-align: center;
         color: $gray;
         font-size: $font-size-base*1.3125;

         @include media (">=md") {
             text-align: left;
         }
    }

    .ginput_container textarea {
        height: 150px;
    }

    .gform_footer {
        text-align: center;
        padding-top: $spacer/2;

        @include media (">=md") {
             text-align: right;
        }
    }

    .gform_button {
         min-width: 195px;
         font-weight: 700;
    }

    .validation_error {
       display: none;
    }
}

.blog-wrapper {
    .article-list {
        @include list-unstyled();
        @include make-row();
        align-content: flex-start;

        li {
            padding: $grid-gutter-width;
            @include make-col();
            @include make-col-span(12);

            @include media (">=md") {
                @include make-col-span(6);
            }

            @include media (">=xl") {
                @include make-col-span(4);
            }

            @include transition(opacity .2s ease-out);
        }
    }

    .wp-post-image {
        margin-bottom: $spacer*1.5;
        width: 100%;
        border: 1px solid $gray-light;
    }

    .title {
        font-size: $font-size-base*1.3125;
        font-weight: 600;
        margin-bottom: .5em;
    }

    .excerpt {
        font-size: $font-size-base*1.0625;
        line-height: 1.65;

        .more {
            font-weight: 700;
        }
    }
}

.load-p-control {
    text-align: center;

    button {
        background-color: transparent;
        border: 0 none;
        text-transform: uppercase;
        color: $gray;
        font-size: $font-size-base*1.1875;
        @include transition(color .2s ease-out);

        @include hover-focus {
             color: $brand-primary;
        }

        &.loading {
            .spinner {
                display: block;
            }
        }

        .spinner {
          margin: 0 auto;
          width: 70px;
          text-align: center;
          display: none;
        }

        .spinner > div {
          width: 18px;
          height: 18px;
          background-color: $brand-primary;
          overflow: hidden;

          border-radius: 100%;
          display: inline-block;
          -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
          animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        }

        .spinner .bounce1 {
          -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
        }

        .spinner .bounce2 {
          -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
        }

        @-webkit-keyframes sk-bouncedelay {
          0%, 80%, 100% { -webkit-transform: scale(0) }
          40% { -webkit-transform: scale(1.0) }
        }

        @keyframes sk-bouncedelay {
          0%, 80%, 100% { 
            -webkit-transform: scale(0);
            transform: scale(0);
          } 40% { 
            -webkit-transform: scale(1.0);
            transform: scale(1.0);
          }
        }
    }
}
