.navbar{
    border-bottom: 1px solid #ccc;
    padding: 0;

    .row {
        align-items: center;
        padding-top: $spacer/2;
        padding-bottom: $spacer/2;

        .col-primary,
        .col-secondary {
            @include make-col();
        }

        .col-primary {
            @include make-col-span(3);

            @include media (">=sm") {
                @include make-col-span(6);
            }
        }

        .col-secondary {
            @include make-col-span(9);

            @include media (">=sm") {
                @include make-col-span(6);
            }

            text-align: right;
        }
    }

    /*fixed navbar*/
    &.navbar-fixed-top ~ .wrap{
        margin-top: 126px;
    }
    &.navbar-fixed-bottom ~ .content-info{
        margin-bottom: 126px;
    }


    .navbar-nav-wrapper {
        background-color: $gray-dark;
    }

    .navbar-brand{
        display: inline-block;
        vertical-align: top;
        float: none;
        padding: 0;
        margin-right: 0;

        img {
             max-height: 50px;
        }
    }

    .navbar-phone {
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
    }

    .navbar-btn {
        @extend .btn;
        @extend .btn-primary;
        @extend .btn-lg;
        @extend .hidden-sm-down;
        margin-left: $grid-gutter-width/2;
    }

    .navbar-toggler {
        color: $gray-dark;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        margin-left: $grid-gutter-width/2;

        @extend .hidden-sm-up;

        .icon-menu,
        .icon-close {
            @include transition(opacity .3s ease-in-out, transform .3s ease-in-out);
            display: block;
            font-size: 0;
            width: $spacer*2;
            height: $spacer*1.5;
            overflow: hidden;

            &:before,
            &:after {
                content: "";
                display: block;
                position: absolute;
                height: 3px;
                left: 0;
                width: 100%;
                background-color: $brand-primary;
            }
        }

        .icon-menu {
            transform: translate3d(0, 30px, 0);
            visibility: hidden;
            opacity: 0;
            position: absolute;

            border-bottom: 3px solid $brand-primary;

            &:after {
                 top: 50%;
            }
        }
        .icon-close {
            transform: translate3d(0, 0, 0);
            visibility: visible;
            opacity: 1;
            position: relative;

            &:before,
            &:after {
                top: 50%;
                transform-origin: 50% 50%;
            }

            &:after {
                transform: rotate(45deg);
            }

            &:before {
                transform: rotate(-45deg);
            }
        }

        &.collapsed {
            .icon-menu {
                transform: translate3d(0, 0, 0);
                visibility: visible;
                opacity: 1;
                position: relative;
            }
            .icon-close {
                transform: translate3d(0, -30px, 0);
                visibility: hidden;
                opacity: 0;
                position: absolute;
            }
        }
    }

    .navbar-nav {
        float: none;

        @include media ("<md") {
            text-align: center;
        }

        @include media (">=sm") {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        @include media (">=md") {
            justify-content: space-around;
        }

        .nav-item {
            position: relative;
            margin-left: 0;
            float: none;

            @include media ("<sm") {
                 &:not(:last-child) {
                     border-bottom: 1px solid $gray-lighter;
                 }
            }

            @include media (">=sm") {
                display: inline-block;
            }

            &.active > .nav-link{

                @include media (">=sm") {
                    &:before{
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: $spacer*0.6;
                        left: $spacer;
                        right: $spacer;
                        height: 2px;
                        overflow: hidden;
                        background-color: $brand-primary;
                    }
                }
            }
        }

        .nav-link {
            position: relative;
            padding: $spacer;
            font-size: $font-size-base;
            color: #fff;

            @include media (">=sm") {
                padding: $spacer $spacer*0.5;
            }

            @include media (">=xl") {
                text-transform: uppercase;
            }

            @include hover-focus{
                color: $brand-primary;
            }
        }

        .active >.nav-link {
            color: $brand-primary;
        }
    }
}

.dropdown-menu{
    padding: 0;
    border-radius: 0;

    @include media ("<sm") {
        position: static;
        float: none;
        text-align: center;
        margin: 0;
        border-radius: 0;
        border: 0 none;
    }

    .dropdown-item {
        padding: 0;

        .nav-link {
            padding: $spacer;
        }
    }
}
